@font-face {
    font-family: 'BebasKai';
    src: url('assets/BebasKai.otf') format('opentype');
}
body {
    font-family: 'BebasKai', Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: #dac9a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    letter-spacing: 1px;
    font-size: 30px;
}

h1 {
    color: #f7c100;
    margin-bottom: 50px;
}


label, input, button {
    display: block;
    margin: 10px auto;
    text-align: center;
    justify-self: center;
}

input {
    width: 50px;
    justify-self: center;
    align-self: center;
    -webkit-appearance: none;
    height: 50px;
    font-size: 38px;
    border: 2px solid #f7c100;
    background-color: rgba(255, 255, 255, 0.2);
    color: #dac9a0;
    border-radius: 5px;
    font-family: 'BebasKai', Arial, sans-serif;
}

button {
    border: 2px solid #f7c100;
    background-color: #201b1d;
    color: #dac9a0;
    border-radius: 5px;
    font-family: 'BebasKai', Arial, sans-serif;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

#currentShards {
    margin-top: 50px;
    margin-bottom: 50px;
}

.result {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.logo {
    width: 200px;
    height: auto;
    margin: 20px auto;
    margin-bottom: -20px;
}

#shardBox {
    opacity: 0.5;
    z-index: -1;
    justify-self: center;
    width: 50%;
    margin-top: -93px;
    margin-bottom: -20px;
}

#shardIcon {
    opacity: 0.5;
    z-index: -1;
    justify-self: center;
    width: 120px;
    margin-bottom: -180px;
    align-self: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        font-size: 25px; /* Increased font size for tablet screens */
        padding: 10px;
    }

    label, input, button {
        margin: 5px 0;
        text-align: center;
    }

    .result {
        font-size: 50px;
    }

    #shardIcon {
        margin-bottom: -168px;
    }

}

@media (max-width: 480px) {
    body {
        font-size: 18px;
        padding: 5px;
    }

    label, input, button {
        margin: 3px 0;
    }

    .result {
        font-size: 50px;
    }
    .logo {
        width: 150px;
        margin-bottom: -10px;
    }

    #shardIcon {
        margin-bottom: -157px;
    }
}